---   

<h1 align="center">Introduction to Data Analyst and Data Science for beginners</h1>
<h1 align="center">Introduction to DBMS and SQL for beginners</h1>

---
<h3><div align="right">Ehtisham Sadiq</div></h3>

# Learning Agenda of this Notebook:
- What is Data?
- What is Database?
- Famous types of Databases
- What is RDBMS?
- DBMS vs RDBMS?
- What is SQL?
- SQL vs MySQL
- Why SQL?
- Process of SQL?
- Types of SQL Commands?
 >- DDL
 >- DML
 >- DCL
 >- TCL
 >- DQL
- Difference between SQL AND NoSQL
- Advantages and Dis-advantages of SQL
- What is SQL Syntax?
- Datatypes in SQL
- SQL Operators
- What is SQL Statement?
- SQL Database Commands
 >- SQL CREATE Database
 >- SQL DROP Database
 >- SQL RENAME Database
 >- SQL SELECT Database
 
- SQL Table Commands
 >- What is Table
 >- SQL CREATE TABLE
 >- SQL DROP TABLE
 >- SQL DELETE TABLE
 >- SQL RENAME TABLE
 >- SQL TRUNCATE TABLE
 >- SQL COPY TABLE
 >- SQL TEMP TABLE
 >- SQL ALTER TABLE
 
- SQL SELECT Commands
 >- SELECT Statement
 >- SQL SELECT UNIQUE
 >- SQL SELECT DISTINCT
 >- SQL SELECT COUNT
 >- SQL SELECT TOP
 >- SQL SELECT FIRST
 >- SQL SELECT LAST
 >- SQL SELECT RANDOM
 >- SQL SELECT IN
 >- SQL SELECT Multiple
 >- SQL SELECT DATE
 >- SQL SELECT SUM
 >- SQL SELECT NULL

- SQL Clause
>- SQL WHERE
>- SQL AND
>- SQL OR
>- SQL WITH
>- SQL AS
>- SQL HAVING Clause

- SQL Order By
>- ORDER BY Clause
>- ORDER BY ASC
>- ORDER BY DESC
>- ORDER BY RANDOM
>- ORDER BY LIMIT
>- ORDER BY Multiple Cols

- SQL Insert commands
>- INSERT Statement
>- INSERT INTO Values
>- INSERT INTO SELECT
>- INSERT Multiple Rows

- SQL Update
>- UPDATE Statement
>- SQL UPDATE JOIN
>- SQL UPDATE DATE

- SQL Delete
>- DELETE Statement
>- SQL DELETE TABLE
>- SQL DELETE ROW
>- SQL DELETE All Rows
>- DELETE Duplicate Rows
>- SQL DELETE DATABASE
>- SQL DELETE VIEW
>- SQL DELETE JOIN

- SQL Join commands
>- SQL JOIN
>- SQL Outer Join
>- SQL Left Join
>- SQL Right Join
>- SQL Full Join
>- SQL Cross Join

- SQL Keys
>- Primary Key
>- Foreign Key
>- Composite Key
>- Unique Key
>- Alternate Key

- SQL Data Types
 >- String Data types
 >- Numeric Data types
 >- Date and time Data types
- SQL Operators
 >- What is SQL Operator?
 >- What is the Precedence of SQL Operator?
 >- Types of Operator
  - SQL Arithmetic Operators
  >- SQL Comparison Operators
  >- SQL Logical Operators
  >- SQL Set Operators
  >- SQL Bit-wise Operators
  >- SQL Unary Operators
  
- Difference
>- IN vs EXISTS
>- Group By vs Order By
>- WHERE vs HAVING
>- Where condition in SQL

- Interview Questions Answers
- Case Studies
- Python MySQL
 >- Environment Setup
 >- Database Connection
 >- Creating New Database
 >- Creating Tables
 >- Insert Operation
 >- Read Operation
 >- Update Operation
 >- Join Operation
 >- Performing Transactions

In [5]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Pucit12345#",
  database="ehtisham",
  auth_plugin='mysql_native_password'
)
cur = mydb.cursor()  
sql = "insert into STUDENTS(ID, NAME, AGE, ADDRESS) values (%s, %s, %s, %s)"  
  
#The row values are provided in the form of tuple   
val = (110,'Ahmed', 20 , "Lahore")  
  
try:  
    cur.execute(sql,val)  
    mydb.commit()
except:  
    mydb.rollback()  
print(cur.rowcount,"record inserted!")  
mydb.close()

1 record inserted!

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Pucit12345#",
  database="ehtisham",
  auth_plugin='mysql_native_password'
)
cur = mydb.cursor()  
try:  
    #Reading the Employee data      
    cur.execute("select * from STUDENTS")  
  
    #fetching the rows from the cursor object  
    result = cur.fetchall()  
    #printing the result  
      
    for x in result:  
        print(x);  
except:  
    mydb.rollback()  
mydb.close()

(110, 'Ahmed', 20, 'Lahore')
(501, 'Aleema ', 21, 'Lahore')
(502, 'Azka', 21, 'Rawalpandi')
(521, 'Ehtisham', 21, 'Okara')