# Learning Agenda of this Notebook:
- What is Data?
- What is Database?
- Famous types of Databases
- What is RDBMS?
- DBMS vs RDBMS?
- What is SQL?
- SQL vs MySQL
- Why SQL?
- Process of SQL?
- Types of SQL Commands?
 >- DDL
 >- DML
 >- DCL
 >- TCL
 >- DQL
- Difference between SQL AND NoSQL
- Advantages and Dis-advantages of SQL
- What is SQL Syntax?
- Datatypes in SQL
- SQL Operators
- What is SQL Statement?
- SQL Database Commands
 >- SQL CREATE Database
 >- SQL DROP Database
 >- SQL RENAME Database
 >- SQL SELECT Database
 
- SQL Table Commands
-> What is Table
-> SQL CREATE TABLE
-> SQL DROP TABLE
-> SQL DELETE TABLE
-> SQL RENAME TABLE
-> SQL TRUNCATE TABLE
-> SQL COPY TABLE
-> SQL TEMP TABLE
-> SQL ALTER TABLE
 >- Select Statement
 >- Update Statement
 >- Delete Statement
 >- Create Table Statement
 >- Alter Table Statement
 >- Drop Table Statement
 >- Create Database Statement
 >- Drop Database Statement
 >- Insert Into Statement
 >- Truncate Table Statement
 >- Describe Statement
 >- Distinct Clause
 >- Commit Statement
 >- Rollback Statement
 >- Create Index Statement
 >- Drop Index Statement
 >- Use Statement
- SQL Data Types
 >- String Data types
 >- Numeric Data types
 >- Date and time Data types
- SQL Operators
 >- What is SQL Operator?
 >- What is the Precedence of SQL Operator?
 >- Types of Operator
  - SQL Arithmetic Operators
  >- SQL Comparison Operators
  >- SQL Logical Operators
  >- SQL Set Operators
  >- SQL Bit-wise Operators
  >- SQL Unary Operators

In [6]:
import mysql.connector  
  
#Create the connection object   
myconn = mysql.connector.connect(host = "localhost", user = "root",passwd = "Pucit12345#", database = "housing_csv")  
  
#printing the connection object   
print(myconn)

NotSupportedError: Authentication plugin 'caching_sha2_password' is not supported

In [5]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Pucit12345#",
  database="ehtisham",
  auth_plugin='mysql_native_password'
)
cur = mydb.cursor()  
sql = "insert into STUDENTS(ID, NAME, AGE, ADDRESS) values (%s, %s, %s, %s)"  
  
#The row values are provided in the form of tuple   
val = (110,'Ahmed', 20 , "Lahore")  
  
try:  
    cur.execute(sql,val)  
    mydb.commit()
except:  
    mydb.rollback()  
print(cur.rowcount,"record inserted!")  
mydb.close()

1 record inserted!

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Pucit12345#",
  database="ehtisham",
  auth_plugin='mysql_native_password'
)
cur = mydb.cursor()  
try:  
    #Reading the Employee data      
    cur.execute("select * from STUDENTS")  
  
    #fetching the rows from the cursor object  
    result = cur.fetchall()  
    #printing the result  
      
    for x in result:  
        print(x);  
except:  
    mydb.rollback()  
mydb.close()

(110, 'Ahmed', 20, 'Lahore')
(501, 'Aleema ', 21, 'Lahore')
(502, 'Azka', 21, 'Rawalpandi')
(521, 'Ehtisham', 21, 'Okara')